{
  "users": [
    {
      "id": 1,
      "email": "usuario@gmail.com",
      "name": "usuario",
      "passwordHash": "$2b$10$aePLoLrFe24UyXQe0JClMefC4/k8jyrUsgNBI5OKJaHf2y/bGrtxW"
    },
    {
      "id": 2,
      "email": "admin@gmail.com",
      "name": "admin",
      "passwordHash": "$2b$10$Cogpy13OblVHxzHz.wIOle5H2.wGs2oEAES5UBJqalF0lMfj1BVRq"
    }
  ],
  "tasks": [
    {
      "id": 1,
      "title": "Aprender React",
      "completed": false,
      "userId": 1
    },
    {
      "id": 2,
      "title": "Aprender TypeScript",
      "completed": false,
      "userId": 1
    },
    {
      "id": 3,
      "title": "Construir una aplicación",
      "completed": true,
      "userId": 1
    },
    {
      "id": 4,
      "title": "Eliminar usuarios inactivos",
      "completed": false,
      "userId": 2
    }
  ]
}